header.header
  .container
    .header__col-wrap 
      .header__col 
        a(href="#").header__logo
          img(src="/assets/img/logo.svg", alt="")   
      .header__col
        a(href="tel:+88005559595").header__contacts
          svg(xmlns='http://www.w3.org/2000/svg' width='13' height='22' viewBox='0 0 13 22' fill='none')
            path(d='M10.5 0H2.5C1.12 0 0 1.12 0 2.5V19.5C0 20.88 1.12 22 2.5 22H10.5C11.88 22 13 20.88 13 19.5V2.5C13 1.12 11.88 0 10.5 0ZM6.5 21C5.67 21 5 20.33 5 19.5C5 18.67 5.67 18 6.5 18C7.33 18 8 18.67 8 19.5C8 20.33 7.33 21 6.5 21ZM11 17H2V3H11V17Z' fill='$sc')
          div 
            p +8(800) 555-95-95
            span Заказать обратный звонок  
        .header__locale
          .header__locale-selected.locale-js(data-val="ru")
            img(src="assets/img/flag_ru.svg", alt="")
          .header__locale-dropdown
            a(href="#" data-id="ru").header__locale-lang.lang-js
              img(src="assets/img/flag_ru.svg", alt="")
            a(href="#" data-id="kg").header__locale-lang.lang-js
              img(src="assets/img/flag_kg.svg", alt="") 
            a(href="#" data-id="en").header__locale-lang.lang-js
              img(src="assets/img/flag_en.svg", alt="") 
       
    