footer.footer
  .container
    .footer__col-wrap
      .footer__col
        p &copy; 2022 AZOR. Все права защищены.
      .footer__col.footer__col--contract
        a(href="#") Договор оферты
        a(href="#") Пользовательское соглашение
      .footer__col.footer__col--pay
        a(href="#")
          img(src="assets/img/mc.svg", alt="") 
        a(href="#")
          img(src="assets/img/visa.svg", alt="") 
        a(href="#")
          img(src="assets/img/ec.svg", alt="") 

