* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $rb;
  color: $sc;
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input {
  input {
    font-size: rem(14);
    color: $sc;
  }
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
    padding-bottom: rem(25);
  }
}

// flex footer end

// container
.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1210px);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(960px);
  }

  @include md {
    max-width: rem(720px);
  }

  @include sm {
    max-width: rem(540px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end

// input
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    font-size: rem(14);
    line-height: rem(16);
    color: #656d77;
    margin-left: rem(8);
    margin-bottom: rem(4);
    cursor: pointer;
    display: inline-block;
  }

  .input {
    position: relative;
    max-width: 100%;
    width: 100%;

    &__icon,
    &__short-name {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem(5);
      height: 100%;
      width: rem(40);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $wc;
      z-index: 9999;
    }

    &__icon {
      right: 0;
      pointer-events: none;
      opacity: 0;

      &.takeoff {
        opacity: 1;

        svg {
          animation: 1s takeoff linear;
        }

        &:before {
          width: rem(18);
        }
      }

      &.landing {
        opacity: 1;

        svg {
          animation: 1s landing linear;
          transform: rotate(30deg);
        }

        &:before {
          width: rem(18);
        }
      }

      &--place {
        svg {
          width: rem(20);
          margin-bottom: rem(5);
        }

        &:before {
          position: absolute;
          content: '';
          height: rem(2);
          width: rem(50);
          right: rem(11);
          background-color: #757575;
          margin-top: rem(15);
          transition: all 2s;
        }
      }

      &--takeoff {
        @keyframes takeoff {
          0% {
            transform: translateX(-50px) translateY(4px) rotate(17deg);
          }

          25% {
            transform: translateX(-35px) translateY(3px) rotate(7deg);
          }

          50% {
            transform: translateX(-20px) translateY(2px) rotate(3deg);
          }

          75% {
            transform: translateX(-10px) translateY(1px) rotate(2deg);
          }

          100% {
            transform: translateX(0) translateY(0) rotate(0);
          }
        }
      }

      &--landing {
        @keyframes landing {
          0% {
            transform: translateX(-50px) translateY(-4px) rotate(17deg);
          }

          25% {
            transform: translateX(-35px) translateY(-3px) rotate(18deg);
          }

          50% {
            transform: translateX(-20px) translateY(-2px) rotate(23deg);
          }

          75% {
            transform: translateX(-10px) translateY(-1px) rotate(25deg);
          }

          100% {
            transform: translateX(0) translateY(0) rotate(30deg);
          }
        }
      }
    }

    &__short-name {
      font-size: rem(14);
      font-weight: 300;
      color: rgba($sc, .5);
    }
  }

  input {
    padding: 0 rem(15);
    width: 100%;

    @include placeholder {
      font-weight: 300;
      color: rgba($sc, .5);
    }
  }
}

.shadow-box {
  background: $wc;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: rem(5);
  height: rem(36);
}

// input end


// select
.select {
  position: relative;
  cursor: pointer;

  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: rem(5) solid rgba(0, 0, 0, 0.54);
    border-left: rem(5) solid transparent;
    border-right: rem(5) solid transparent;
    top: 50%;
    transform: translateY(-50%);
    right: rem(15);
  }

  &__selected {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: rem(10) rem(15);
  }

  &__dropdown {
    position: absolute;
    background-color: $wc;
    width: 100%;
    border-radius: 0 0 rem(5) rem(5);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-top: rem(1) solid #C9CFD9;
    transition: $tr;
    pointer-events: none;
    opacity: 0;
    top: -50%;
    z-index: 9999;

    &.--open {
      top: calc(100% - 1px);
      opacity: 1;
      pointer-events: inherit;
    }
  }

  &__option {
    padding: rem(5) rem(15);
    transition: $tr;
    font-size: rem(14);

    &:hover {
      background-color: #f8f8f8;
    }
  }

  &--sorting {
    .select__selected {
      color: rgba(54, 60, 73, 0.5);

      span {
        text-transform: lowercase;
        color: $sc;
        margin-left: rem(5);
      }
    }

    .select__option {

      &.active {
        background-color: #f8f8f8;
        position: relative;

        &:after {
          position: absolute;
          content: '✔';
          font-size: rem(12);
          color: $sc;
          top: 50%;
          right: rem(10);
          transform: translateY(-50%);
        }
      }
    }
  }
}

.number {
  display: inline-flex;
  align-items: center;
  user-select: none;

  .minus,
  .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(20);
    height: rem(20);
    border-radius: 100%;
    background-color: $sc;
    cursor: pointer;

    svg {
      width: 10px;

      path {
        fill: $wc;
      }
    }
  }

  input {
    width: rem(30);
  }

  .disabled {
    pointer-events: none;
    background-color: #CDD4DE;
  }

  .count {
    font-size: .875rem;
    width: rem(25);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// select end


// btn
.btn {
  background-color: $mc;
  color: $wc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15),
    inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: rem(5);
  padding: rem(10) rem(20);
  border: none;
  outline: none;
  cursor: pointer;
  transition: $tr;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--mc {
    &:hover {
      background-color: $sc;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15),
        inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    }
  }

  &--sc {
    background-color: $sc;

    &:hover {
      background-color: $mc;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15),
        inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    }
  }

  &--ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;

    span {
      font-weight: 700;
      margin-top: rem(5);
    }
  }
}

// btn end

// title
.title {
  font-size: rem(20);
  font-weight: 700;
  margin-bottom: rem(15);
}

// title end



// check

.check,
.radio {
  font-size: rem(13);

  input {
    display: none;

    &:checked+label {
      i {
        &:after {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    i {
      margin-bottom: rem(2);
      margin-right: rem(6);
      position: relative;
      width: rem(16);
      height: rem(16);
      border: rem(2) solid $sc;
      display: inline-block;

      &:after {
        position: absolute;
        color: $sc;
        opacity: 0;
        top: 50%;
        left: 50%;
        transition: $tr;
        transform: translate(-50%, -50%) scale(0);
      }
    }
  }
}

.check {
  label {
    i {
      border-radius: rem(2);

      &:after {
        content: '✔';
        font-size: rem(15);
      }
    }
  }
}

.radio {
  label {
    i {
      border-radius: 100%;

      &:after {
        content: '';
        width: rem(8);
        height: rem(8);
        background-color: $sc;
        border-radius: 100%;
      }
    }
  }
}


// check end


// tabs
.tab {
  .tab_content {
    .tabs_item {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }
}

// tabs end