.booking {
  margin-top: rem(70);
  margin-bottom: rem(75);
  position: relative;
  z-index: 1;

  &__form {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(24px);
    padding: rem(32) rem(49);
  }

  .tabs-booking {
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(25);

    li {
      background-color: $sc;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      transition: $tr;
      overflow: hidden;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: $mc;
        transition: $tr;
      }

      &:first-child {
        border-radius: rem(5) 0px 0px rem(5);

        &:before {
          right: -100%;
        }

        &.current {
          &:before {
            right: 0;
          }
        }
      }

      &:last-child {
        border-radius: 0 rem(5) rem(5) 0;

        &:before {
          left: -100%;
        }

        &.current {
          &:before {
            left: 0;
          }
        }

      }

      &.current {
        pointer-events: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15),
          inset 0px 4px 4px rgba(255, 255, 255, 0.25);
        background-color: $mc;
      }
    }

    a {
      color: $wc;
      padding: rem(8) rem(15);
      display: block;
      overflow: hidden;
      position: relative;
    }
  }



  #city {
    @include placeholder {
      color: $sc;
    }
  }

  &__form-group-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    #back-date {
      &:disabled {
        cursor: no-drop;
        background-color: rgba(204, 204, 204, 0.323);

        @include placeholder {
          color: rgba(204, 204, 204, 0.753);
        }
      }

      &:disabled~.input__icon {
        background: none;
      }
    }
  }

  &__couple {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &:last-child {
      margin-right: 0;
    }

    &--place {
      width: 39.18%;

      .form-group {
        max-width: rem(200);
        width: 100%;
      }
    }

    &--time {
      width: 29.94%;

      .form-group {
        margin-right: rem(4);
        max-width: rem(160);
        width: 100%;

        &:first-child {
          input {
            border-radius: rem(5) 0 0 rem(5);
          }
        }

        &:last-child {
          margin-right: 0;

          input {
            border-radius: 0 rem(5) rem(5) 0;
          }
        }
      }

      .input {
        input {
          cursor: pointer;
          color: rgba($sc, .5);
        }
      }
    }

    &--booking-class {
      width: 27.91%;

      .form-group {
        max-width: rem(160);
        width: 100%;
      }

      .btn {
        max-width: rem(126);
        width: 100%;
        min-height: rem(36);
        padding: 0;
      }
    }
  }

  &__reverce {
    margin-bottom: rem(5);
    margin-right: rem(5);
    width: rem(18);
    height: rem(18);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: $tr;
    padding-left: rem(5);
    border-radius: 100%;

    span {
      height: 6px;
      width: 13px;
      position: relative;

      &:first-child {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 100%;
      position: absolute;
      transition: $tr;

      path {
        fill: $sc;
      }
    }

    &:hover {

      svg {
        margin-left: rem(-3);
      }
    }


  }

  &__select {
    margin-right: rem(15);
    max-width: rem(160);
    width: 100%;
    cursor: default;
  }

  &__selected {
    display: flex;
    opacity: 0.5;
    font-size: rem(14);
    display: flex;
    align-items: center;
    padding: rem(10) rem(15);

    span {
      margin: 0 rem(3);
    }
  }



  &__dropdown-top {
    border-bottom: rem(1) solid #CDD4DE;
    padding-bottom: rem(15);
  }


  &__dropdown {
    padding: rem(15);
    min-width: rem(228);
    right: 0;
    border: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__option-title {
    font-size: rem(15);
    font-weight: 500;
    margin-bottom: rem(5);
  }

  &__option-subtitle {
    font-size: rem(12);
    color: #90a4ae;
  }

  &__dropdown-bottom {
    padding-top: rem(15);
    display: flex;
    flex-direction: column;
  }

  &__option-class {
    transition: $tr;
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(1);
    margin-bottom: rem(10);
    position: relative;
    transition: $tr;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $mc;

      .booking__option-btn {
        border-color: rgba($mc, .4);
      }
    }

    &.active {
      color: $mc;

      .booking__option-btn {
        border-color: $mc;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  &__option-btn {
    position: relative;
    width: rem(16);
    height: rem(16);
    border-radius: 100%;
    border: rem(1) solid #CDD4DE;
    margin-right: 8px;
    transition: $tr;

    &:before {
      position: absolute;
      content: '';
      transition: $tr;
      border-radius: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(8);
      height: rem(8);
      background-color: $mc;
      transition: $tr;
      opacity: 0;
    }
  }

  &__bottom {
    margin-top: rem(14);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__difficult-route {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-left: rem(30);
    cursor: pointer;

    span {
      font-size: rem(14);
    }
  }

  &__difficult-route-icon {
    height: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: $tr;
    animation: 10s rotate linear infinite;

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}




#booking-content {
  .tab-item {
    display: none;

    &:first-child {
      display: block;
    }
  }
}


// datapicker
.ui-widget-header {
  background: $sc url(images/ui-bg_glass_25_cb842e_1x400.png) 50% 50% repeat-x;
  border-color: $wc;
}

.ui-datepicker-prev.ui-corner-all.ui-state-disabled {
  pointer-events: none;
}

.ui-datepicker-next.ui-corner-all {
  cursor: pointer;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: $sc;
  font-weight: 500;
}

.ui-widget-content {
  border: none;
  background: rgba(255, 255, 255, .5);
  backdrop-filter: blur(2px);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.ui-datepicker-buttonpane.ui-widget-content {
  button {
    font-weight: 400;
  }
}

.ui-datepicker th {
  color: $sc;
  font-size: rem(14);
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: none;
  color: $sc;
  border: none;
}

.ui-state-hover {
  background: rgba($mc, .7) !important;
  color: $wc !important;
}

.ui-state-default.ui-state-active {
  background-color: $mc;
  color: $wc;
}

.ui-datepicker td .ui-state-default {
  width: rem(25);
  height: rem(25);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(3);
  margin: auto;
}

.ui-datepicker-title {
  font-size: rem(14);
  font-weight: 400;

  .ui-datepicker-month {
    margin-right: rem(5) !important;
  }

  select {
    width: auto !important;
    overflow: hidden;
    background: $sc;
    border: none;
    outline: none;
    color: $wc;
    cursor: pointer;
  }
}

.ui-datepicker-next.ui-datapicker-next-hover {
  border: none !important;
}

.ui-datepicker-today {
  .ui-state-default {
    background-color: rgba($mc, .3);
  }
}

.ui-datepicker-buttonpane.ui-widget-content button {
  font-size: rem(15);
  border-radius: rem(3);
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  border: none;
  background: none !important;
  top: 0;
  cursor: pointer;

  span {
    transition: $tr;
  }
}

.ui-datepicker .ui-datepicker-prev {
  left: rem(1);
}

.ui-datepicker .ui-datepicker-next {
  right: rem(1);
}

.ui-datepicker-header {
  background: $sc;
}

// datapicker