.footer {
  flex: 0 0 auto;
  min-height: rem(60);
  background: #232F3E;
  box-shadow: 0px -2px 4px rgba(71, 71, 71, 0.15);
  display: flex;
  align-items: center;

  &__col-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__col {
    width: 33.33%;
    display: flex;

    p,
    a {
      color: $wc;
      font-size: rem(14);
      font-weight: 300;
    }

    &--pay {
      display: flex;
      justify-content: flex-end;
      padding-right: rem(20);

      a {
        margin-left: rem(30);
      }
    }

    &--contract {
      justify-content: space-around;

      a {
        transition: $tr;

        &:hover {
          color: $mc;
        }
      }
    }
  }
}