.header {
  padding-top: rem(25);

  &__col-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__col {
    &:last-child {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    max-width: rem(205);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__contacts {
    display: flex;
    align-items: flex-end;
    color: $sc;
    margin-right: 40px;

    &:hover {
      opacity: 0.7;
    }

    svg {
      margin-right: 5px;
      margin-bottom: 3px;
      path{
        fill: #363C49;
      }
    }

    p {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
    }

    span {
      font-size: 12px;
      line-height: 14px;
      color: #4e5864;
    }
  }

  &__locale {
    position: relative;
  }

  &__locale-selected {
    width: 100%;
    max-width: rem(43);
    position: relative;
    padding-right: 14px;
    padding-left: rem(5);
    cursor: pointer;
    display: flex;
    align-content: inherit;

    img {
      border: rem(1) solid #dadada;
    }

    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-top: 3.3px solid $sc;
      border-left: 3.3px solid transparent;
      border-right: 3.3px solid transparent;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }

  &__locale-dropdown {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: $tr;
    z-index: 1;
    background: $wc;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: rem(2);
    padding: rem(5);
    padding-bottom: 0;

    &.--open {
      opacity: 1;
      pointer-events: inherit;
    }
  }

  &__locale-lang {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(7);
    border: rem(1) solid #dadada;
    max-width: rem(24);
    width: 100%;

    &:hover {
      opacity: 0.7;
    }
  }
}

.hero {
  position: relative;
  min-height: rem(696);
  background-position: center center;
  background-size: cover;
  padding-bottom: rem(30);

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 37.1%, rgba(255, 255, 255, 0.8) 62.33%, #FFFFFF 100%);
  }

  &__title {
    font-size: rem(40);
    line-height: rem(47);
    font-weight: 500;
    margin-bottom: rem(20);
  }

  &__subtitle {
    font-weight: 400;
    font-size: rem(24);
    line-height: rem(28);
    margin-bottom: rem(30);
  }
}