.search-result {}

.col-wrap {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 18.70%;

  &__section {
    border-bottom: rem(1) solid #C9CFD9;
    padding: rem(20) 0;

    &:last-child {
      border: none;
    }

    .check,
    .radio {
      margin-bottom: rem(15);

      label {
        i {
          width: rem(14);
          height: rem(14);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .radio {
      label {
        i {
          &:after {
            width: rem(6);
            height: rem(6);
          }
        }
      }
    }

    &--dropdown {
      .sidebar__section-title {
        position: relative;
        cursor: pointer;
        padding-right: rem(25);

        &:after {
          position: absolute;
          content: '';
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-top: 5px solid rgba(0, 0, 0, 0.54);
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          transition: $tr;
        }
      }

      &.--open {
        .sidebar__section-title {
          &:after {
            transform: translateY(-50%) rotate(-90deg);
          }
        }
      }
    }
  }

  &__section-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: rem(12);
  }

  &__section-content {
    margin-top: rem(20);
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rem(13);
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }

    .check {
      margin-bottom: 0;
    }
  }

  &__range {
    font-size: rem(13);
  }
}

.content-side {
  width: 77.96%;
}

.subscription {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: rem(5);
  background-color: $wc;
  padding: rem(15);
  cursor: pointer;

  &__visible {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    max-width: rem(38);
    width: 100%;
    height: rem(38);
    background-color: $mc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    margin-right: rem(15);

    svg {
      animation: ring-bell 3s infinite;

      @keyframes ring-bell {
        0% {
          transform: rotate(0deg);
        }

        33% {
          transform: rotate(10deg);
        }

        66% {
          transform: rotate(-10deg);
        }

        100% {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__title {
    color: #656d77;

    p {
      font-size: rem(14);
      line-height: rem(16);
      font-weight: 600;
      margin-bottom: rem(3);
    }

    span {
      font-size: rem(12);
      line-height: rem(12);
      display: block;
    }
  }

  &__hidden {
    margin-top: rem(15);
    display: none;

    input {
      font-size: rem(12);
    }

    .btn {
      width: 100%;
      margin-top: rem(10);
    }

    p {
      margin-top: rem(10);
      font-size: rem(11);

      a {
        color: $mc;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.calendar-line {
  margin-bottom: rem(40);

  &__item-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: $wc;
    min-height: rem(50);
    padding: rem(6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 4px;
    width: 100%;

    &.active {
      padding: rem(7);

      * {
        color: $mc;
      }
    }

    svg {
      path {
        transition: $tr;
      }
    }

    &:hover {
      background-color: #fafafa;

      .calendar-line__date {
        color: $mc;
      }

      svg {
        path {
          fill: $mc;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      border-radius: rem(5) 0px 0px rem(5);
    }

    &:last-child {
      border-radius: 0px rem(5) rem(5) 0px;
    }
  }

  &__date {
    font-size: rem(10);
    text-transform: uppercase;
    color: #656d77;
    transition: $tr;
  }

  &__price {
    font-size: rm(14);
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(10);
    text-transform: uppercase;
    font-size: rem(10);
    color: #656d77;

    a {
      color: #006cb3;
      transition: $tr;

      &:hover {
        color: $mc;
      }
    }
  }
}

.tickets-container {
  background: $wc;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: rem(5);
  margin-bottom: rem(25);

  &:last-child {
    margin-bottom: 0;
  }

  .ticket {
    display: flex;

    &__control {
      border-right: rem(1) solid #C9CFD9;
      max-width: rem(265);
      width: 100%;
    }

    .tabs-ticket {
      display: flex;

      li {
        width: 50%;
        transition: $tr;
        background-color: #ededed70;

        &.current {
          background-color: $wc;
        }

        a {
          padding: rem(10);
          display: block;
          color: $sc;
          transition: $tr;

          &:hover {
            background-color: #FAFAFA;
          }
        }
      }

      &__icon-block {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: rem(7);
      }

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          margin-right: rem(20);
        }
      }

      &__title {
        text-align: center;
        font-size: rem(10);
      }
    }

    &__link {
      color: rgba(101, 109, 119, 0.5);
      text-align: center;
      display: block;
      margin: rem(10) 0;
    }

    &__info {
      padding: rem(20) rem(24);
      width: 100%;

      .check {
        position: relative;
        margin-right: rem(27);

        &:hover {
          .ticket-promt {
            opacity: 1;
            bottom: calc(100% + 5px);
          }
        }

        i {
          border-color: #757575;

          &:after {
            color: #757575;
          }
        }
      }
    }

    &__logo-company {
      max-width: rem(120);
      width: 100%;
      margin-bottom: rem(25);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        max-width: rem(120);
      }
    }

    &__info-flight {
      color: #656d77;
      width: 100%;

      .ticket__info-flight {
        padding: rem(24) 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__info-flight-visible {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .ticket__info-flight.ticket__info-flight--depart {
      border-bottom: rem(1) dashed #C9CFD9;
    }

    .ticket__info-flight.ticket__info-flight--return {
      padding-bottom: 0 !important;
    }

    &__info-point {
      &--reverce {
        .ticket__info-date {
          margin-left: 0;
          margin-right: rem(15) !important;
        }

        .ticket__info-city {
          text-align: right;
        }
      }
    }

    .ticket-promt {
      background-color: rgba($mc, .9);
      position: absolute;
      padding: rem(10) rem(15);
      color: $wc;
      border-radius: rem(5);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15),
        inset 0px 4px 4px rgba(255, 255, 255, 0.25);
      transition: $tr;
      bottom: 0;
      left: rem(-15);
      font-size: rem(12);
      min-width: rem(320);
      opacity: 0;
      pointer-events: none;

      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-top: rem(5) solid $mc;
        border-left: rem(5) solid transparent;
        border-right: rem(5) solid transparent;
        left: rem(15);
        top: 100%;
      }

      &__item {
        display: flex;
        align-items: center;
      }

      &__item-icon {
        width: rem(20);
        margin-right: rem(10);

        * {
          width: 100%;
          fill: $wc;
          color: $wc;
        }

      }
    }

    &__info-time {
      font-size: rem(32);
      color: #656d77;
      line-height: rem(38);
      display: flex;
      align-items: center;
    }

    &__info-date {
      display: flex;
      flex-direction: column;
      margin-left: rem(10);
      position: relative;

      span {
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: rem(16);
        line-height: rem(19);
        color: rgba(101, 109, 119, 0.5);

        &:last-child {
          font-size: rem(8);
          line-height: rem(9);
        }
      }
    }

    &__info-next-date {
      position: absolute;
      color: #d80000;
      font-size: rem(14);
      line-height: rem(16);
      position: absolute;
      top: rem(-12);
      right: rem(-10);
    }

    &__info-travel-info {
      display: inline-block;
      min-width: rem(210);
    }

    &__travel-info-top {
      font-weight: 300;
      line-height: rem(19);
      text-align: center;
      margin-bottom: rem(7);
    }

    &__travel-info-bottom {
      position: relative;
      display: flex;
      justify-content: space-between;

      &:before {
        position: absolute;
        content: '';
        height: rem(2);
        background-color: $mc;
        width: calc(100% - 25px);
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__travel-info-points {
      text-transform: uppercase;
      position: relative;
      padding-top: rem(20);
      cursor: pointer;
      margin-top: rem(-6);

      .ticket-promt {
        left: 50% !important;
        transform: translateX(-50%) !important;

        &:after {
          left: 50% !important;
          transform: translateX(-50%) !important;
        }
      }

      &:hover {
        .ticket-promt {
          opacity: 1;
          bottom: calc(100% + 5px);
        }

        &:after {
          opacity: 1;
        }
      }

      &:before,
      &:after {
        position: absolute;
        content: '';
        border-radius: 100%;
        transition: $tr;
        left: 50%;
        transform: translateX(-50%);
      }

      &:before {
        width: rem(11);
        height: rem(11);
        background-color: $wc;
        border: rem(1) solid $mc;
        top: 0;
      }

      &:after {
        width: rem(5);
        height: rem(5);
        background-color: $sc;
        opacity: 0;
        top: rem(4);
      }

    }

    &__info-detail {
      position: relative;
      display: flex;
      align-items: center;
      max-width: rem(40);
      width: 100%;
      border-left: rem(1) solid #C9CFD9;
      cursor: pointer;

      &:before,
      &:after {
        position: absolute;
        content: '';
        width: rem(12);
        height: rem(2);
        background-color: rgba(0, 0, 0, 0.54);
      }

      &:before {
        transform: rotate(-45deg);
        left: 44%;
      }

      &:after {
        transform: rotate(45deg);
        right: 44%;
      }
    }
  }

  .tab {
    height: 100%;

    .tab_content {
      height: calc(100% - 97px);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(15) rem(25);

      .tabs_item {
        width: 100%;
      }
    }
  }
}



.baggage-info {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: rem(10);
  }
}

















// range input slider
.ui-slider {
  margin-top: rem(15);
}

.ui-slider-handle {
  width: rem(12) !important;
  height: rem(12) !important;
  border: rem(1) solid $mc !important;
  border-radius: 100% !important;
  background: $wc !important;
  cursor: pointer !important;
  outline: none;
  top: -5px !important;
}

.ui-slider-horizontal {
  height: rem(2);
  background-color: #c4c2c2;
  border-color: $wc;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
  background-color: $mc;
}

.ui-state-focus {
  background-color: $mc !important;

}

// range input slider end