doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title
      block title
    link(rel="stylesheet" href="assets/styles.min.css")
    link(link rel="icon" href="favicon.ico")  
body
  block main
  