extends layout/main/main
block title
  | main
block main
  .wrapper
    .content
      .hero(style="background-image: url('assets/img/bg-hero.jpg')")
        include includes/header/header

        .booking
          .container
            form(action="").booking__form
              .tab
                ul.tabs.tabs-booking
                  li
                    a(href='#') Авиабилеты
                  li
                    a(href='#') Отели
                .tab_content
                  .tabs_item
                    .booking__form-group-wrapper
                      .booking__couple.booking__couple--place
                        .form-group  
                          label(for="city") Город вылета
                          .input
                            input(type="text" id="city" placeholder="Откуда" autocomplete="off").shadow-box 
                            .input__short-name(style="display: none;") FRU
                            .input__icon.input__icon--place.input__icon--takeoff
                              svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.28 12.35')
                                defs
                                  style.
                                    .cls-1{fill-opacity:0.54;fill-rule:evenodd;}
                                g(id='Слой_2' data-name='Слой 2')
                                  g(id='Слой_1-2' data-name='Слой 1')
                                    path.cls-1(d='M18.39,5a1.5,1.5,0,0,1,1.84,1.06,1.52,1.52,0,0,1-1.07,1.85L2.59,12.35,0,7.86l1.45-.39L3.42,9l5-1.33L4.25.51,6.18,0l6.9,6.43Z')

                        .booking__reverce
                          span 
                            svg(viewBox='0 0 13 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                              path(fill-rule='evenodd' clip-rule='evenodd' d='M3 4V6L0 3L3 0V2H13V4H3Z')
                          span
                            svg(viewBox='0 0 13 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                              path(fill-rule='evenodd' clip-rule='evenodd' d='M3 4V6L0 3L3 0V2H13V4H3Z')
                        .form-group  
                          label(for="city-dest") Город прилета
                          .input
                            input(type="text" id="city-dest"  placeholder="Куда" autocomplete="off").shadow-box 
                            .input__short-name(style="display: none;") VCE
                            .input__icon.input__icon--place.input__icon--landing
                              svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.28 12.35')
                                defs
                                  style.
                                    .cls-1{fill-opacity:0.54;fill-rule:evenodd;}
                                g(id='Слой_2' data-name='Слой 2')
                                  g(id='Слой_1-2' data-name='Слой 1')
                                    path.cls-1(d='M18.39,5a1.5,1.5,0,0,1,1.84,1.06,1.52,1.52,0,0,1-1.07,1.85L2.59,12.35,0,7.86l1.45-.39L3.42,9l5-1.33L4.25.51,6.18,0l6.9,6.43Z')
                      .booking__couple.booking__couple--time
                        .form-group
                          label(for="there-date") Туда
                          .input
                            input(type="text" id="there-date" readonly name="Туда" placeholder="Дата").shadow-box 
                            .input__icon
                              svg(xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox='0 0 18 20' fill='none')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M16 20C17.1 20 18 19.1 18 18V4C18 2.9 17.1 2 16 2H15V0H13V2H5V0H3V2H2C0.89 2 0.01 2.9 0.01 4L0 18C0 19.1 0.89 20 2 20H16ZM6 11V9H4V11H6ZM2 6H16V4H2V6ZM16 8V18H2V8H16ZM14 11V9H12V11H14ZM10 11H8V9H10V11Z' fill='black' fill-opacity='0.54')

                        .form-group  
                          label(for="back-date") Обратно
                          .input
                            input(type="text" id="back-date" name="Обратно" readonly disabled placeholder="Дата").shadow-box 
                            .input__icon
                              svg(xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox='0 0 18 20' fill='none')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M16 20C17.1 20 18 19.1 18 18V4C18 2.9 17.1 2 16 2H15V0H13V2H5V0H3V2H2C0.89 2 0.01 2.9 0.01 4L0 18C0 19.1 0.89 20 2 20H16ZM6 11V9H4V11H6ZM2 6H16V4H2V6ZM16 8V18H2V8H16ZM14 11V9H12V11H14ZM10 11H8V9H10V11Z' fill='black' fill-opacity='0.54')
                      .booking__couple.booking__couple--booking-class
                        .form-group
                          label Пассажиры/Класс
                          .select.booking__select.shadow-box
                            input(type="hidden" value="Эконом" id="booking-class" name="Класс бронирования")
                            input(type="hidden" value="1" id="total" name="Общее количество пассажиров")
                            input(type="hidden" value="1" id="adult" name="Взрослые")
                            input(type="hidden" value="0" id="children" name="Дети")
                            input(type="hidden" value="0" id="babies" name="Младенцы")
                            .select__selected.booking__selected
                              .booking-count-js 1
                              span пас.,
                              .booking-class Эконом
                            .select__dropdown.booking__dropdown
                              .booking__dropdown-top
                                .booking__option
                                  .booking__option-wrap 
                                    .booking__option-title Взрослые
                                    .booking__option-subtitle Старше 12 лет
                                  .number.fixed
                                    span.minus
                                      svg(xmlns='http://www.w3.org/2000/svg' width='14' height='2' viewBox='0 0 14 2' fill='none')
                                        path(d='M14 2H0V0H14V2Z' fill='#323232')
                                    .count(data-count="1")#adult-count 1
                                    span.plus
                                      svg(xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none')
                                        path(d='M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z' fill='#323232')
                                .booking__option
                                  .booking__option-wrap 
                                    .booking__option-title Дети
                                    .booking__option-subtitle От 2 до 12 лет
                                  .number.unfixed
                                    span.minus
                                      svg(xmlns='http://www.w3.org/2000/svg' width='14' height='2' viewBox='0 0 14 2' fill='none')
                                        path(d='M14 2H0V0H14V2Z' fill='#323232')
                                    .count(data-count="0")#children-count 0
                                    span.plus
                                      svg(xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none')
                                        path(d='M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z' fill='#323232')
                                .booking__option
                                  .booking__option-wrap 
                                    .booking__option-title Младенцы
                                    .booking__option-subtitle До 2 лет, без места
                                  .number.unfixed
                                    span.minus
                                      svg(xmlns='http://www.w3.org/2000/svg' width='14' height='2' viewBox='0 0 14 2' fill='none')
                                        path(d='M14 2H0V0H14V2Z' fill='#323232')
                                    .count(data-count="0")#babies-count 0
                                    span.plus
                                      svg(xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none')
                                        path(d='M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z' fill='#323232')
                              .booking__dropdown-bottom
                                .booking__option-class(data-class="Эконом").active
                                  .booking__option-btn
                                  | Эконом
                                .booking__option-class(data-class="Бизнес")
                                  .booking__option-btn
                                  | Бизнес
                        button(type="submit").btn.btn--mc Найти 
                  .tabs_item hotels
             
             
              .booking__bottom
                .booking__difficult-route
                  .booking__difficult-route-icon
                    svg(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M8.16671 2.39168V0.708344C6.49171 0.87501 4.96671 1.54168 3.73337 2.55001L4.91671 3.74168C5.84171 3.02501 6.95004 2.54168 8.16671 2.39168ZM14.2667 2.55001C13.0334 1.54168 11.5084 0.87501 9.83337 0.708344V2.39168C11.05 2.54168 12.1584 3.02501 13.0834 3.74168L14.2667 2.55001ZM17.2917 8.16668H15.6084C15.4584 6.95001 14.975 5.84168 14.2584 4.91668L15.45 3.73334C16.4584 4.96668 17.125 6.49168 17.2917 8.16668ZM3.74171 4.91668L2.55004 3.73334C1.54171 4.96668 0.875041 6.49168 0.708374 8.16668H2.39171C2.54171 6.95001 3.02504 5.84168 3.74171 4.91668ZM0.708374 9.83334H2.39171C2.54171 11.05 3.02504 12.1583 3.74171 13.075L2.55004 14.2667C1.54171 13.0333 0.875041 11.5083 0.708374 9.83334ZM11.5 9.00001C11.5 7.61668 10.3834 6.50001 9.00004 6.50001C7.61671 6.50001 6.50004 7.61668 6.50004 9.00001C6.50004 10.3833 7.61671 11.5 9.00004 11.5C10.3834 11.5 11.5 10.3833 11.5 9.00001ZM15.45 14.275L14.2584 13.0833C14.975 12.1583 15.4584 11.05 15.6084 9.84168H17.2917C17.125 11.5083 16.4584 13.0417 15.45 14.275ZM9.83337 15.6083V17.2917C11.5084 17.125 13.0334 16.4583 14.2667 15.45L13.075 14.2583C12.1584 14.975 11.05 15.4583 9.83337 15.6083ZM8.16671 17.2917C6.50004 17.125 4.96671 16.4583 3.73337 15.45L4.91671 14.2583C5.84171 14.975 6.95004 15.4583 8.16671 15.6083V17.2917Z' fill='#363C49')
                  span Сложный маршрут
                .check
                  input(type="checkbox" id="comparison" name="comparison")
                  label(for="comparison")
                    i 
                    | Сравнить цены
        .container
          h1.hero__title Товары для путешествий <br> и не только 
          h2.hero__subtitle Подготовьтесь ко всем случаям <br> жизни вместе с AZOR маркетплейс
          a(href="#").btn.btn--sc К покупкам      
      .products
        .container
          .title Товары для путешествий 
          .swiper-container.products-slider
            .swiper-wrapper
              mixin slide(img)
                .swiper-slide
                  a(href="#").products__item 
                    img(src=`assets/img/image`+img+`.jpg`, alt="")
              +slide('1')  
              +slide('2')  
              +slide('3')  
              +slide('4')  
              +slide('5')  
              +slide('6')  
     
      .search-result
        .container
          .col-wrap
            .sidebar 
              form(action="#").subscription
                .subscription__visible
                  .subscription__icon 
                    svg(xmlns='http://www.w3.org/2000/svg' width='16' height='20' viewBox='0 0 16 20' fill='none')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M14 13.75V8.75C14 5.68 12.37 3.11 9.5 2.43V1.75C9.5 0.92 8.83 0.25 8 0.25C7.17 0.25 6.5 0.92 6.5 1.75V2.43C3.64 3.11 2 5.67 2 8.75V13.75L0 15.75V16.75H16V15.75L14 13.75ZM8 19.75C9.1 19.75 10 18.85 10 17.75H6C6 18.85 6.9 19.75 8 19.75ZM4 14.75H12V8.75C12 6.27 10.49 4.25 8 4.25C5.51 4.25 4 6.27 4 8.75V14.75Z' fill='white')

                  .subscription__title
                    p Подписаться
                    span на уведомления о снижении цен
                .subscription__hidden 
                  .form-group 
                    .input
                      input(type="text" placeholder="Введите ваш email").shadow-box
                  button(type="submite").btn.btn--mc Подписаться    
                  p Нажимая «Подписаться», вы соглашаетесь с правилами 
                    a(href="#") обработки персональных данных. 
              .sidebar__section  
                .radio
                  input(type="radio" id="alltick" data-val="Все билеты" name="Вид билета")
                  label(for="alltick")
                    i 
                    | Все билеты
                .radio
                  input(type="radio" id="besttick" data-val="Лучшие билеты" name="Вид билета")
                  label(for="besttick")
                    i 
                    | Лучшие билеты
              .sidebar__section
                .sidebar__section-title Сортировка 
                .sidebar__section-content
                  .select.select--sorting.shadow-box
                    input(type="hidden" name="sorting" data-id="")  
                    .select__selected по 
                      span цене
                    .select__dropdown
                      .select__option.active(data-id="price") Цене
                      .select__option(data-id="time") Времени в пути
                      .select__option(data-id="early-departure") Раннему вылету
                      .select__option(data-id="late-departure") Позднему вылету
                    
              .sidebar__section.sidebar__section--dropdown
                .sidebar__section-title пересадки
                .sidebar__section-content
                  mixin check(title,value,price, cl)
                    .sidebar__check
                      .check
                        input(type="checkbox" id=value data-val=value name=title class=cl)
                        label(for=value)
                          i
                          =title
                      .sidebar__check-price=price  
                  +check('Все', 'cbGroup1', '', 'all-check')
                  +check('1 пересадка','1-transplants', '78 624сом', 'checkbox')
                  +check('2 пересадка','2-transplants', '60 279сом','checkbox')
                  +check('3 пересадка','3-transplants', '78 239сом','checkbox')

              .sidebar__section.sidebar__section--dropdown
                .sidebar__section-title багаж
                .sidebar__section-content
                  +check('Все', 'cbGroup2', '', 'all-check')
                  +check('Без багажа','without luggage', '60 279сом','checkbox')
                  +check('Багаж и руч. кладь','Luggage and hand luggage', '70 966сом','checkbox')
              
              .sidebar__section.sidebar__section--dropdown
                .sidebar__section-title цены на авиабилеты
                .sidebar__section-content
                  .sidebar__range
                    input.airfare-prices-amount(type='text' readonly)
                    .airfare-prices

              //- .sidebar__section.sidebar__section--dropdown
              //-   .sidebar__section-title длительность пересадок
              //-   .sidebar__section-content
              //-     .sidebar__range
              //-       input#duration-transfers-amount(type='text' readonly)
              //-       #duration-transfers

              //- .sidebar__section.sidebar__section--dropdown
              //-   .sidebar__section-title цены на авиабилеты
              //-   .sidebar__section-content
              //-     .sidebar__range
              //-       input.airfare-prices-amount(type='text' readonly)
              //-       .airfare-prices
                    
              //- .sidebar__section.sidebar__section--dropdown
              //-   .sidebar__section-title длительность пересадок
              //-   .sidebar__section-content
              //-     .sidebar__range
              //-       input#duration-transfers-amount(type='text' readonly)
              //-       #duration-transfers
            .content-side
              .calendar-line 
                .calendar-line__item-wrap
                  mixin day  
                    a(href="#").calendar-line__item
                      .calendar-line__date 12 апр - 19 апр
                      svg(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M11.965 11.255H12.755L17.745 16.255L16.255 17.745L11.255 12.755V11.965L10.985 11.685C9.845 12.665 8.365 13.255 6.755 13.255C3.165 13.255 0.255005 10.345 0.255005 6.755C0.255005 3.165 3.165 0.254997 6.755 0.254997C10.345 0.254997 13.255 3.165 13.255 6.755C13.255 8.365 12.665 9.845 11.685 10.985L11.965 11.255ZM2.255 6.755C2.255 9.245 4.26501 11.255 6.755 11.255C9.245 11.255 11.255 9.245 11.255 6.755C11.255 4.265 9.245 2.255 6.755 2.255C4.26501 2.255 2.255 4.265 2.255 6.755Z' fill='black' fill-opacity='0.54')
                  +day
                  +day
                  +day
                  a(href="#").calendar-line__item.active
                    .calendar-line__date 12 апр - 19 апр
                    .calendar-line__price 60 279сом
                  +day
                  +day
                  +day

                .calendar-line__bottom 
                  p календарь низких цен
                  a(href="#") Посмотреть календарь  

              .tickets-container
                .ticket
                  .ticket__control
                    .tab
                      ul.tabs.tabs-ticket
                        li(data-id="")
                          a(href='#')
                            .tabs-ticket__icon-block
                              .tabs-ticket__icon
                                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                  path(id='icon/action/work_24px' fill-rule='evenodd' clip-rule='evenodd' d='M16 6.5H20C21.11 6.5 22 7.39 22 8.5V19.5C22 20.61 21.11 21.5 20 21.5H4C2.89 21.5 2 20.61 2 19.5L2.01 8.5C2.01 7.39 2.89 6.5 4 6.5H8V4.5C8 3.39 8.89 2.5 10 2.5H14C15.11 2.5 16 3.39 16 4.5V6.5ZM10 6.5H14V4.5H10V6.5Z' fill='$sc' style='fill: #363C49;')
                                  path#1x(d='M10.4199 9.42188V18H9.33594V10.7754L7.15039 11.5723V10.5938L10.25 9.42188H10.4199ZM14.457 11.6602L15.8457 13.9688L17.252 11.6602H18.5234L16.4492 14.7891L18.5879 18H17.334L15.8691 15.6211L14.4043 18H13.1445L15.2773 14.7891L13.209 11.6602H14.457Z' fill='white')
                              .tabs-ticket__icon
                                svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none')
                                  path(fill-rule='evenodd' clip-rule='evenodd' d='M0.419983 1.83L1.82998 0.419998L21.58 20.17L20.17 21.58L18.17 19.58H15.5V21H13.5V19.58H8V21H6V19.58H2.42998C1.31998 19.58 0.429983 18.69 0.429983 17.58L0.439983 6.58C0.439983 5.47 1.31998 4.58 2.42998 4.58H3.16998L0.419983 1.83ZM8.42998 2.58H12.43V4.58H8.82998L10.83 6.58H18.43V14.18L20.43 16.18V6.58C20.43 5.47 19.54 4.58 18.43 4.58H14.43V2.58C14.43 1.47 13.54 0.579998 12.43 0.579998H8.42998C7.43998 0.579998 6.62998 1.28 6.46998 2.22L8.42998 4.18V2.58ZM2.42998 6.58V17.58H16.17L5.16998 6.58H2.42998Z' fill='#D80000')
                            .tabs-ticket__title Без багажа
                       
                        li(data-id="")
                          a(href='#')
                            .tabs-ticket__icon-block
                              .tabs-ticket__icon
                                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                  path(id='icon/action/work_24px' fill-rule='evenodd' clip-rule='evenodd' d='M16 6.5H20C21.11 6.5 22 7.39 22 8.5V19.5C22 20.61 21.11 21.5 20 21.5H4C2.89 21.5 2 20.61 2 19.5L2.01 8.5C2.01 7.39 2.89 6.5 4 6.5H8V4.5C8 3.39 8.89 2.5 10 2.5H14C15.11 2.5 16 3.39 16 4.5V6.5ZM10 6.5H14V4.5H10V6.5Z' fill='$sc' style='fill: #363C49;')
                                  path#1x(d='M10.4199 9.42188V18H9.33594V10.7754L7.15039 11.5723V10.5938L10.25 9.42188H10.4199ZM14.457 11.6602L15.8457 13.9688L17.252 11.6602H18.5234L16.4492 14.7891L18.5879 18H17.334L15.8691 15.6211L14.4043 18H13.1445L15.2773 14.7891L13.209 11.6602H14.457Z' fill='white')
                              .tabs-ticket__icon
                                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                  g#work_outline_24px(style='fill: #363C49;')
                                    path(id='icon/action/work_outline_24px' fill-rule='evenodd' clip-rule='evenodd' d='M20 6.5C21.11 6.5 22 7.39 22 8.5V19.5C22 20.61 21.11 21.5 20 21.5H16.5V23H14.5V21.5H9V23H7V21.5H4C2.89 21.5 2 20.61 2 19.5L2.01 8.5C2.01 7.39 2.89 6.5 4 6.5H8V4.5C8 3.39 8.89 2.5 10 2.5H14C15.11 2.5 16 3.39 16 4.5V6.5H20ZM14 6.5V4.5H10V6.5H14ZM4 8.5V19.5H20V8.5H4Z' fill='$sc')
                                    path#20(d='M11.5488 17.1094V18H5.96484V17.2207L8.75977 14.1094C9.10352 13.7266 9.36914 13.4023 9.55664 13.1367C9.74805 12.8672 9.88086 12.627 9.95508 12.416C10.0332 12.2012 10.0723 11.9824 10.0723 11.7598C10.0723 11.4785 10.0137 11.2246 9.89648 10.998C9.7832 10.7676 9.61523 10.584 9.39258 10.4473C9.16992 10.3105 8.90039 10.2422 8.58398 10.2422C8.20508 10.2422 7.88867 10.3164 7.63477 10.4648C7.38477 10.6094 7.19727 10.8125 7.07227 11.0742C6.94727 11.3359 6.88477 11.6367 6.88477 11.9766H5.80078C5.80078 11.4961 5.90625 11.0566 6.11719 10.6582C6.32812 10.2598 6.64062 9.94336 7.05469 9.70898C7.46875 9.4707 7.97852 9.35156 8.58398 9.35156C9.12305 9.35156 9.58398 9.44727 9.9668 9.63867C10.3496 9.82617 10.6426 10.0918 10.8457 10.4355C11.0527 10.7754 11.1562 11.1738 11.1562 11.6309C11.1562 11.8809 11.1133 12.1348 11.0273 12.3926C10.9453 12.6465 10.8301 12.9004 10.6816 13.1543C10.5371 13.4082 10.3672 13.6582 10.1719 13.9043C9.98047 14.1504 9.77539 14.3926 9.55664 14.6309L7.27148 17.1094H11.5488ZM18.0645 13.0547V14.3555C18.0645 15.0547 18.002 15.6445 17.877 16.125C17.752 16.6055 17.5723 16.9922 17.3379 17.2852C17.1035 17.5781 16.8203 17.791 16.4883 17.9238C16.1602 18.0527 15.7891 18.1172 15.375 18.1172C15.0469 18.1172 14.7441 18.0762 14.4668 17.9941C14.1895 17.9121 13.9395 17.7812 13.7168 17.6016C13.498 17.418 13.3105 17.1797 13.1543 16.8867C12.998 16.5938 12.8789 16.2383 12.7969 15.8203C12.7148 15.4023 12.6738 14.9141 12.6738 14.3555V13.0547C12.6738 12.3555 12.7363 11.7695 12.8613 11.2969C12.9902 10.8242 13.1719 10.4453 13.4062 10.1602C13.6406 9.87109 13.9219 9.66406 14.25 9.53906C14.582 9.41406 14.9531 9.35156 15.3633 9.35156C15.6953 9.35156 16 9.39258 16.2773 9.47461C16.5586 9.55273 16.8086 9.67969 17.0273 9.85547C17.2461 10.0273 17.4316 10.2578 17.584 10.5469C17.7402 10.832 17.8594 11.1816 17.9414 11.5957C18.0234 12.0098 18.0645 12.4961 18.0645 13.0547ZM16.9746 14.5312V12.873C16.9746 12.4902 16.9512 12.1543 16.9043 11.8652C16.8613 11.5723 16.7969 11.3223 16.7109 11.1152C16.625 10.9082 16.5156 10.7402 16.3828 10.6113C16.2539 10.4824 16.1035 10.3887 15.9316 10.3301C15.7637 10.2676 15.5742 10.2363 15.3633 10.2363C15.1055 10.2363 14.877 10.2852 14.6777 10.3828C14.4785 10.4766 14.3105 10.627 14.1738 10.834C14.041 11.041 13.9395 11.3125 13.8691 11.6484C13.7988 11.9844 13.7637 12.3926 13.7637 12.873V14.5312C13.7637 14.9141 13.7852 15.252 13.8281 15.5449C13.875 15.8379 13.9434 16.0918 14.0332 16.3066C14.123 16.5176 14.2324 16.6914 14.3613 16.8281C14.4902 16.9648 14.6387 17.0664 14.8066 17.1328C14.9785 17.1953 15.168 17.2266 15.375 17.2266C15.6406 17.2266 15.873 17.1758 16.0723 17.0742C16.2715 16.9727 16.4375 16.8145 16.5703 16.5996C16.707 16.3809 16.8086 16.1016 16.875 15.7617C16.9414 15.418 16.9746 15.0078 16.9746 14.5312Z' fill='$sc')

                            .tabs-ticket__title + 10 687сом
                      
                      .tab_content
                        .tabs_item
                          a(href="#").btn.btn--mc.btn--ticket Купить
                            span 58 516 сом
                          a(href="#").ticket__link Kupibilet.ru    
                        .tabs_item
                          a(href="#").btn.btn--mc.btn--ticket Купить
                            span 68 516 сом
                          a(href="#").ticket__link Kupibilet.ru 
                  .ticket__info
                    a(href="#").ticket__logo-company
                      img(src="assets/img/pegasus.svg", alt="")
                    .ticket__info-flight.ticket__info-flight--depart
                      .ticket__info-flight-visible
                        .check 
                          input(type="checkbox" id="ticket1")
                          label(for="ticket1")  
                            i
                            .ticket-promt
                              .ticket-promt__item Показать билеты только с этим вариантом вылета
                        .ticket__info-flight
                          .ticket__info-point
                            .ticket__info-time
                              | 08:20
                              .ticket__info-date
                                span 15 
                                span АПР
                            .ticket__info-city Бишкек
                          .ticket__info-travel-info
                            .ticket__travel-info-top 38ч 25м
                            .ticket__travel-info-bottom
                              .ticket__travel-info-points FRU
                                .ticket-promt
                                  .ticket-promt__item
                                    .ticket-promt__item-icon
                                      svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M20.25 8.295C21.05 8.075 21.88 8.555 22.09 9.355C22.3 10.155 21.83 10.975 21.02 11.205L4.44999 15.635L1.85999 11.145L3.30999 10.755L5.27999 12.295L10.25 10.965L6.10999 3.795L8.03999 3.285L14.94 9.715L20.25 8.295ZM21.52 18.715H2.51999V20.715H21.52V18.715Z' fill='black')
                                    | Аэропорт Бишкек
                              .ticket__travel-info-points saw
                                .ticket-promt
                                  .ticket-promt__item
                                    .ticket-promt__item-icon
                                      svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M20.25 8.295C21.05 8.075 21.88 8.555 22.09 9.355C22.3 10.155 21.83 10.975 21.02 11.205L4.44999 15.635L1.85999 11.145L3.30999 10.755L5.27999 12.295L10.25 10.965L6.10999 3.795L8.03999 3.285L14.94 9.715L20.25 8.295ZM21.52 18.715H2.51999V20.715H21.52V18.715Z' fill='black')
                                    | Аэропорт Стамбул
                                  .ticket-promt__item
                                    .ticket-promt__item-icon
                                    svg(xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14')
                                      path(d='M7 2.04c.31 0 .568-.258.568-.568V.568C7.568.258 7.31 0 7 0c-.31 0-.568.258-.568.568v.904c0 .31.258.57.568.57zm3.9 1.628c.155 0 .285-.052.414-.18l.645-.647c.232-.23.232-.593 0-.825-.233-.233-.595-.233-.827 0l-.646.646c-.232.233-.232.595 0 .827.13.13.284.18.413.18zM11.96 7c0 .31.258.568.568.568h.904c.31 0 .568-.258.568-.568 0-.31-.258-.568-.568-.568h-.904c-.31 0-.57.258-.57.568zm-.827 4.96c.103.103.258.18.413.18.155 0 .284-.05.413-.18.232-.233.232-.595 0-.827l-.646-.646c-.233-.232-.594-.232-.827 0-.232.233-.232.594 0 .827l.646.645zM7.568 13.43v-.904c0-.31-.258-.57-.568-.57-.31 0-.568.26-.568.57v.904c0 .31.258.568.568.568.31 0 .568-.258.568-.568zm-4.7-1.473l.645-.646c.232-.233.232-.594 0-.827-.233-.232-.594-.232-.827 0l-.645.646c-.232.232-.232.594 0 .826.104.103.26.18.414.18.155-.026.284-.077.413-.18zm-2.3-4.392h.904c.31 0 .57-.258.57-.568 0-.31-.26-.568-.57-.568H.568C.258 6.432 0 6.69 0 7c0 .31.258.568.568.568zm2.118-4.055c.104.103.26.18.414.18.155 0 .284-.05.413-.18.232-.233.232-.594 0-.827l-.646-.645c-.232-.232-.594-.232-.826 0-.232.233-.232.595 0 .827l.646.646zM7 10.255c1.782 0 3.255-1.447 3.255-3.255 0-1.808-1.447-3.255-3.255-3.255-1.808 0-3.255 1.473-3.255 3.255 0 1.782 1.473 3.255 3.255 3.255z' fill='#FFFFFF' fill-rule='evenodd')
                                    | Дневная пересадка  
                              .ticket__travel-info-points vie
                                .ticket-promt
                                  .ticket-promt__item
                                    .ticket-promt__item-icon
                                      svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M20.25 8.295C21.05 8.075 21.88 8.555 22.09 9.355C22.3 10.155 21.83 10.975 21.02 11.205L4.44999 15.635L1.85999 11.145L3.30999 10.755L5.27999 12.295L10.25 10.965L6.10999 3.795L8.03999 3.285L14.94 9.715L20.25 8.295ZM21.52 18.715H2.51999V20.715H21.52V18.715Z' fill='black')
                                    | Аэропорт Вена
                              .ticket__travel-info-points vce
                                .ticket-promt
                                  .ticket-promt__item
                                    .ticket-promt__item-icon
                                      svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M20.25 8.295C21.05 8.075 21.88 8.555 22.09 9.355C22.3 10.155 21.83 10.975 21.02 11.205L4.44999 15.635L1.85999 11.145L3.30999 10.755L5.27999 12.295L10.25 10.965L6.10999 3.795L8.03999 3.285L14.94 9.715L20.25 8.295ZM21.52 18.715H2.51999V20.715H21.52V18.715Z' fill='black')
                                    | Венеция Марко Поло
                          .ticket__info-point.ticket__info-point--reverce
                            .ticket__info-time
                              .ticket__info-date
                                .ticket__info-next-date +1
                                span 16 
                                span АПР
                              | 08:20
                            .ticket__info-city Венеция
                      .ticket__info-flight-detail 
                        .baggage-info
                          .baggage-info__item
                            .baggage-info__icon
                              svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                path(id='icon/action/work_24px' fill-rule='evenodd' clip-rule='evenodd' d='M16 6.5H20C21.11 6.5 22 7.39 22 8.5V19.5C22 20.61 21.11 21.5 20 21.5H4C2.89 21.5 2 20.61 2 19.5L2.01 8.5C2.01 7.39 2.89 6.5 4 6.5H8V4.5C8 3.39 8.89 2.5 10 2.5H14C15.11 2.5 16 3.39 16 4.5V6.5ZM10 6.5H14V4.5H10V6.5Z' fill='$sc' style='fill: #363C49;')
                                path#1x(d='M10.4199 9.42188V18H9.33594V10.7754L7.15039 11.5723V10.5938L10.25 9.42188H10.4199ZM14.457 11.6602L15.8457 13.9688L17.252 11.6602H18.5234L16.4492 14.7891L18.5879 18H17.334L15.8691 15.6211L14.4043 18H13.1445L15.2773 14.7891L13.209 11.6602H14.457Z' fill='white')
                            .baggage-info__title Ручная кладь: 1 место на человека
                          
                          .baggage-info__item
                            .baggage-info__icon
                              svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                g#work_outline_24px(style='fill: #363C49;')
                                  path(id='icon/action/work_outline_24px' fill-rule='evenodd' clip-rule='evenodd' d='M20 6.5C21.11 6.5 22 7.39 22 8.5V19.5C22 20.61 21.11 21.5 20 21.5H16.5V23H14.5V21.5H9V23H7V21.5H4C2.89 21.5 2 20.61 2 19.5L2.01 8.5C2.01 7.39 2.89 6.5 4 6.5H8V4.5C8 3.39 8.89 2.5 10 2.5H14C15.11 2.5 16 3.39 16 4.5V6.5H20ZM14 6.5V4.5H10V6.5H14ZM4 8.5V19.5H20V8.5H4Z' fill='$sc')
                                  path#20(d='M11.5488 17.1094V18H5.96484V17.2207L8.75977 14.1094C9.10352 13.7266 9.36914 13.4023 9.55664 13.1367C9.74805 12.8672 9.88086 12.627 9.95508 12.416C10.0332 12.2012 10.0723 11.9824 10.0723 11.7598C10.0723 11.4785 10.0137 11.2246 9.89648 10.998C9.7832 10.7676 9.61523 10.584 9.39258 10.4473C9.16992 10.3105 8.90039 10.2422 8.58398 10.2422C8.20508 10.2422 7.88867 10.3164 7.63477 10.4648C7.38477 10.6094 7.19727 10.8125 7.07227 11.0742C6.94727 11.3359 6.88477 11.6367 6.88477 11.9766H5.80078C5.80078 11.4961 5.90625 11.0566 6.11719 10.6582C6.32812 10.2598 6.64062 9.94336 7.05469 9.70898C7.46875 9.4707 7.97852 9.35156 8.58398 9.35156C9.12305 9.35156 9.58398 9.44727 9.9668 9.63867C10.3496 9.82617 10.6426 10.0918 10.8457 10.4355C11.0527 10.7754 11.1562 11.1738 11.1562 11.6309C11.1562 11.8809 11.1133 12.1348 11.0273 12.3926C10.9453 12.6465 10.8301 12.9004 10.6816 13.1543C10.5371 13.4082 10.3672 13.6582 10.1719 13.9043C9.98047 14.1504 9.77539 14.3926 9.55664 14.6309L7.27148 17.1094H11.5488ZM18.0645 13.0547V14.3555C18.0645 15.0547 18.002 15.6445 17.877 16.125C17.752 16.6055 17.5723 16.9922 17.3379 17.2852C17.1035 17.5781 16.8203 17.791 16.4883 17.9238C16.1602 18.0527 15.7891 18.1172 15.375 18.1172C15.0469 18.1172 14.7441 18.0762 14.4668 17.9941C14.1895 17.9121 13.9395 17.7812 13.7168 17.6016C13.498 17.418 13.3105 17.1797 13.1543 16.8867C12.998 16.5938 12.8789 16.2383 12.7969 15.8203C12.7148 15.4023 12.6738 14.9141 12.6738 14.3555V13.0547C12.6738 12.3555 12.7363 11.7695 12.8613 11.2969C12.9902 10.8242 13.1719 10.4453 13.4062 10.1602C13.6406 9.87109 13.9219 9.66406 14.25 9.53906C14.582 9.41406 14.9531 9.35156 15.3633 9.35156C15.6953 9.35156 16 9.39258 16.2773 9.47461C16.5586 9.55273 16.8086 9.67969 17.0273 9.85547C17.2461 10.0273 17.4316 10.2578 17.584 10.5469C17.7402 10.832 17.8594 11.1816 17.9414 11.5957C18.0234 12.0098 18.0645 12.4961 18.0645 13.0547ZM16.9746 14.5312V12.873C16.9746 12.4902 16.9512 12.1543 16.9043 11.8652C16.8613 11.5723 16.7969 11.3223 16.7109 11.1152C16.625 10.9082 16.5156 10.7402 16.3828 10.6113C16.2539 10.4824 16.1035 10.3887 15.9316 10.3301C15.7637 10.2676 15.5742 10.2363 15.3633 10.2363C15.1055 10.2363 14.877 10.2852 14.6777 10.3828C14.4785 10.4766 14.3105 10.627 14.1738 10.834C14.041 11.041 13.9395 11.3125 13.8691 11.6484C13.7988 11.9844 13.7637 12.3926 13.7637 12.873V14.5312C13.7637 14.9141 13.7852 15.252 13.8281 15.5449C13.875 15.8379 13.9434 16.0918 14.0332 16.3066C14.123 16.5176 14.2324 16.6914 14.3613 16.8281C14.4902 16.9648 14.6387 17.0664 14.8066 17.1328C14.9785 17.1953 15.168 17.2266 15.375 17.2266C15.6406 17.2266 15.873 17.1758 16.0723 17.0742C16.2715 16.9727 16.4375 16.8145 16.5703 16.5996C16.707 16.3809 16.8086 16.1016 16.875 15.7617C16.9414 15.418 16.9746 15.0078 16.9746 14.5312Z' fill='$sc')
                            .baggage-info__title Ручная кладь: 1 место на человека

                    .ticket__info-flight.ticket__info-flight--return
                      .ticket__info-flight-visible
                        .check 
                          input(type="checkbox" id="ticket1")
                          label(for="ticket1")  
                            i
                            .ticket-promt
                              .ticket-promt__item Показать билеты только с этим вариантом вылета
                        .ticket__info-flight
                          .ticket__info-point
                            .ticket__info-time
                              | 08:20
                              .ticket__info-date
                                span 15 
                                span АПР
                            .ticket__info-city Бишкек
                          .ticket__info-travel-info
                            .ticket__travel-info-top 38ч 25м
                            .ticket__travel-info-bottom
                              .ticket__travel-info-points FRU
                                .ticket-promt
                                  .ticket-promt__item
                                    .ticket-promt__item-icon
                                      svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M20.25 8.295C21.05 8.075 21.88 8.555 22.09 9.355C22.3 10.155 21.83 10.975 21.02 11.205L4.44999 15.635L1.85999 11.145L3.30999 10.755L5.27999 12.295L10.25 10.965L6.10999 3.795L8.03999 3.285L14.94 9.715L20.25 8.295ZM21.52 18.715H2.51999V20.715H21.52V18.715Z' fill='black')
                                    | Аэропорт Бишкек
                              .ticket__travel-info-points saw
                                .ticket-promt
                                  .ticket-promt__item
                                    .ticket-promt__item-icon
                                      svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M20.25 8.295C21.05 8.075 21.88 8.555 22.09 9.355C22.3 10.155 21.83 10.975 21.02 11.205L4.44999 15.635L1.85999 11.145L3.30999 10.755L5.27999 12.295L10.25 10.965L6.10999 3.795L8.03999 3.285L14.94 9.715L20.25 8.295ZM21.52 18.715H2.51999V20.715H21.52V18.715Z' fill='black')
                                    | Аэропорт Стамбул
                                  .ticket-promt__item
                                    .ticket-promt__item-icon
                                    svg(xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14')
                                      path(d='M7 2.04c.31 0 .568-.258.568-.568V.568C7.568.258 7.31 0 7 0c-.31 0-.568.258-.568.568v.904c0 .31.258.57.568.57zm3.9 1.628c.155 0 .285-.052.414-.18l.645-.647c.232-.23.232-.593 0-.825-.233-.233-.595-.233-.827 0l-.646.646c-.232.233-.232.595 0 .827.13.13.284.18.413.18zM11.96 7c0 .31.258.568.568.568h.904c.31 0 .568-.258.568-.568 0-.31-.258-.568-.568-.568h-.904c-.31 0-.57.258-.57.568zm-.827 4.96c.103.103.258.18.413.18.155 0 .284-.05.413-.18.232-.233.232-.595 0-.827l-.646-.646c-.233-.232-.594-.232-.827 0-.232.233-.232.594 0 .827l.646.645zM7.568 13.43v-.904c0-.31-.258-.57-.568-.57-.31 0-.568.26-.568.57v.904c0 .31.258.568.568.568.31 0 .568-.258.568-.568zm-4.7-1.473l.645-.646c.232-.233.232-.594 0-.827-.233-.232-.594-.232-.827 0l-.645.646c-.232.232-.232.594 0 .826.104.103.26.18.414.18.155-.026.284-.077.413-.18zm-2.3-4.392h.904c.31 0 .57-.258.57-.568 0-.31-.26-.568-.57-.568H.568C.258 6.432 0 6.69 0 7c0 .31.258.568.568.568zm2.118-4.055c.104.103.26.18.414.18.155 0 .284-.05.413-.18.232-.233.232-.594 0-.827l-.646-.645c-.232-.232-.594-.232-.826 0-.232.233-.232.595 0 .827l.646.646zM7 10.255c1.782 0 3.255-1.447 3.255-3.255 0-1.808-1.447-3.255-3.255-3.255-1.808 0-3.255 1.473-3.255 3.255 0 1.782 1.473 3.255 3.255 3.255z' fill='#FFFFFF' fill-rule='evenodd')
                                    | Дневная пересадка  
                              .ticket__travel-info-points vie
                                .ticket-promt
                                  .ticket-promt__item
                                    .ticket-promt__item-icon
                                      svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M20.25 8.295C21.05 8.075 21.88 8.555 22.09 9.355C22.3 10.155 21.83 10.975 21.02 11.205L4.44999 15.635L1.85999 11.145L3.30999 10.755L5.27999 12.295L10.25 10.965L6.10999 3.795L8.03999 3.285L14.94 9.715L20.25 8.295ZM21.52 18.715H2.51999V20.715H21.52V18.715Z' fill='black')
                                    | Аэропорт Вена
                              .ticket__travel-info-points vce
                                .ticket-promt
                                  .ticket-promt__item
                                    .ticket-promt__item-icon
                                      svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M20.25 8.295C21.05 8.075 21.88 8.555 22.09 9.355C22.3 10.155 21.83 10.975 21.02 11.205L4.44999 15.635L1.85999 11.145L3.30999 10.755L5.27999 12.295L10.25 10.965L6.10999 3.795L8.03999 3.285L14.94 9.715L20.25 8.295ZM21.52 18.715H2.51999V20.715H21.52V18.715Z' fill='black')
                                    | Венеция Марко Поло
                          .ticket__info-point.ticket__info-point--reverce
                            .ticket__info-time
                              .ticket__info-date
                                .ticket__info-next-date +1
                                span 16 
                                span АПР
                              | 08:20
                            .ticket__info-city Венеция

                  .ticket__info-detail

              

    include includes/footer/footer


  include includes/scripts 
