// Сторонние библиотеки 
// @import "../js/libs/--/--/";
// @import "http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css";
// @import "http://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css";
// @import "http://code.jquery.com/ui/1.9.1/themes/hot-sneaks/jquery-ui.css";
@import "http://code.jquery.com/ui/1.9.1/themes/humanity/jquery-ui.css";
//---------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// css файлы библиотек/плагинов
// @import "../../node_modules/--/--/";

@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/swiper/swiper-bundle.css";
//---------------------------------------------

// подключение сгенерированных иконок(fontello),
// FontAwesome

// @import "../assets/icons/fontello/--/--/";
// @import "../assets/icons/fontawesome5/web-fonts-with-css/css/fontawesome-all.min.css";

//---------------------------------------------

// подключение css файлов

@import "fonts";
@import "variables";
@import "mixins/media";


//---------------------------------------------


//---------------------------------------------

// Компоненты

@import "components/base";
@import "components/header";
@import "components/booking";
@import "components/search-result";
@import "components/footer";